.2_2 { 
	overflow:hidden;
}.e2_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:2560px;
	height:1371px;
	position:absolute;
}.e2_3 { 
	background-color:rgba(29.151285253465176, 3.904687575995922, 44.62499924004078, 1);
	width:2560px;
	height:1371px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_4 { 
	color:rgba(255, 255, 255, 1);
	width:475px;
	height:75px;
	position:absolute;
	left:260px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e2_5 { 
	color:rgba(255, 255, 255, 1);
	width:489px;
	height:62px;
	position:absolute;
	left:260px;
	top:94px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e2_19 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:66px;
	position:absolute;
	left:260px;
	top:59px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e2_29 { 
	width:260px;
	height:200px;
	position:absolute;
	left:0px;
	top:-14px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_31 { 
	color:rgba(255, 255, 255, 1);
	width:496px;
	height:74px;
	position:absolute;
	left:106px;
	top:260px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e4_49 { 
	color:rgba(255, 255, 255, 1);
	width:496px;
	height:74px;
	position:absolute;
	left:106px;
	top:775px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e4_56 { 
	color:rgba(255, 255, 255, 1);
	width:496px;
	height:74px;
	position:absolute;
	left:1097px;
	top:775px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e4_64 { 
	color:rgba(255, 255, 255, 1);
	width:496px;
	height:74px;
	position:absolute;
	left:520px;
	top:1256px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e4_54 { 
	color:rgba(255, 255, 255, 1);
	width:496px;
	height:74px;
	position:absolute;
	left:293px;
	top:1047px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e2_32 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:55px;
	position:absolute;
	left:54px;
	top:264px;
	font-family:Inter;
	text-align:left;
	font-size:62px;
	letter-spacing:0;
}.e2_37 { 
	color:rgba(255, 255, 255, 1);
	width:611px;
	height:158px;
	position:absolute;
	left:756px;
	top:256px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e2_38 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:55px;
	position:absolute;
	left:704px;
	top:256px;
	font-family:Inter;
	text-align:left;
	font-size:62px;
	letter-spacing:0;
}.e2_41 { 
	color:rgba(255, 255, 255, 1);
	width:678px;
	height:158px;
	position:absolute;
	left:1521px;
	top:255px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e2_42 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:55px;
	position:absolute;
	left:1469px;
	top:256px;
	font-family:Inter;
	text-align:left;
	font-size:62px;
	letter-spacing:0;
}.e4_63 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:55px;
	position:absolute;
	left:1469px;
	top:256px;
	font-family:Inter;
	text-align:left;
	font-size:62px;
	letter-spacing:0;
}.e2_34 { 
	width:435px;
	height:294px;
	position:absolute;
	left:106px;
	top:346px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_47 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:55px;
	position:absolute;
	left:33px;
	top:775px;
	font-family:Inter;
	text-align:left;
	font-size:62px;
	letter-spacing:0;
}.e4_55 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:55px;
	position:absolute;
	left:1024px;
	top:779px;
	font-family:Inter;
	text-align:left;
	font-size:62px;
	letter-spacing:0;
}.e4_59 { 
	color:rgba(255, 255, 255, 1);
	width:496px;
	height:74px;
	position:absolute;
	left:1778px;
	top:765px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e4_60 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:55px;
	position:absolute;
	left:1705px;
	top:769px;
	font-family:Inter;
	text-align:left;
	font-size:62px;
	letter-spacing:0;
}.e2_40 { 
	width:606px;
	height:80px;
	position:absolute;
	left:721px;
	top:427px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_44 { 
	width:617px;
	height:123px;
	position:absolute;
	left:1521px;
	top:427px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_51 { 
	width:184px;
	height:207px;
	position:absolute;
	left:106px;
	top:907px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_53 { 
	width:667px;
	height:138px;
	position:absolute;
	left:290px;
	top:907px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_62 { 
	width:861px;
	height:294px;
	position:absolute;
	left:1593px;
	top:907px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}